
<div id="About-Us">
    <div class="imageBox">
        <img class="BG2" src="images/AboutUsBg2.svg">
    </div>
    <div class="Box1">
        <img class="BG1" src="images/AboutUsBG1.svg">
    </div>
    <div class="Box2">

        <small>About Us</small>
        <img class="line" src="images/AboutUsLine.svg">
    </div>
    <div class="Box3">
        <H2>
            You can't use up creativity.
        </H2>
        <small>
            Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.
        </small>
    </div>
    <div class="Box4">
        <img class="triangle1" src="images/AboutUsTriangle.svg">
        <img class="triangle2" src="images/AboutUsTriangle.svg">
        <div class="number">15</div>
        <p>Years Of Experience</p>
    </div>
    <div class="Box5">
        <button class="btn">Learn More</button>
        <button class="btn">video Intro Video</button>
    </div>
</div>
