<section id="BookBg">
    <div id="Book">
        <div class="Box1">
            <H2>Book a Meeting</H2>
            <i class="fas fa-thin fa-user icon"></i>
        </div>
        <div class="Box2">
            <small>
                Does any industry face a more complex audience journey and <br>
                marketing sales process than B2B technology.
            </small>
        </div>

        <form id="BookMeetingForm" class="Box3" onsubmit="" novalidate>
            <div class="form Box3a">
                <input type="text" class="form-control m-3 py-4 px-5 needs-validation" id="contact-Name" placeholder="Enter your name">
                <i class="fas fa-thin fa-user  icon-user"></i>
                <div id="contact-Name-error" class="invalid-feedback">You have to enter your name</div>
            </div>
            <div class="form Box3b">
                <input type="email" class="form-control m-3 py-4 px-5 needs-validation" id="contact-Email" placeholder="Enter your email">
                <i class="fas fa-solid fa-envelope icon-email "></i>
                <div id="contact-email-error" class="invalid-feedback">You have to enter your Email</div>
            </div>
            <div class="form m-3 Box3c">
                <textarea type="textarea" class="form-control py-4 px-5 needs-validation" id="contact-message" placeholder="Enter your questions & subject here." rows="4" form="BookMeetingForm"></textarea>
                <i class="fa fa-solid fa-pen  icon-edit"></i>
                <div id="contact-message-error" class="invalid-feedback">You have to enter your message</div>
            </div>
            <div class="button Box3c">
                <button id="BookMeetingFrom-Submit" class="submit mt-4 btn">Book a Meeting Now</button>
            </div>
        </form>
    </div>
</section>

