<div id="growth">
    <div class="Box1">
        <small>Intro</small>
        <img class="line" src="images/AboutUsLine.svg">
    </div>

    <div class="Box2">
        <H2>How we make our business growe.</H2>
        <p>The introduction of cloud and mobile technologies into enterprise software.</p>
    </div>

    <div class="Box3">
        <small>
            Wether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.
        </small>
    </div>
    <div class="Box4">
        <button class="btn">Learn More</button>
    </div>
    <div class="Box5">
        <img class="Placeholder" src="images/GrowthPH.svg">
        <img class="Background" src="images/GrowthBG.svg">
    </div>
</div>