<section id="Contact-Us">
    <div class="container-boxs">
        <div class="box box1">
            <small>Get in Touch</small>
            <img class="line" src="images/AboutUsLine.svg">
        </div>
        <div class="box box2">
            <h2>Estimate for your projects.</h2>
        </div>

        <form id="Contactform" class="box3" onsubmit="" novalidate>
            <div class="form Box3a">
                <input type="text" class="form-control my-4 py-4 px-5 needs-validation" id="contact-Name" placeholder="Enter your name">
                <div id="contact-Name-error" class="invalid-feedback">You have to enter your name</div>
            </div>
            <div class="form Box3b">
                <input type="email" class="form-control my-4 py-4 px-5 needs-validation" id="contact-Email" placeholder="Enter your email">
                <div id="contact-email-error" class="invalid-feedback">You have to enter your Email</div>
            </div>
            <div class="form Box3c">
                <textarea type="textarea" class="form-control my-4 py-4 px-5 needs-validation" id="contact-Message" placeholder="Enter your message" rows="4" form="BookMeetingForm"></textarea>
                <div id="contact-Message-error" class="invalid-feedback">You have to enter your Message</div>
            </div>
            <div class="button Box3d">
                <button id="Contact-Submit" class="submit mt-4 btn">Submit Now</button>
            </div>
        </form>

        <div class="box box4">
            <img class="contact-ph" src="images/GrowthPH.svg">
            <img class="contact-bg" src="images/GrowthBG.svg">

        </div>
    </div>
</section>
