<section id="Footer">

    <div class="Box">
        <img class="Footer-BG1" src="images/Footerbg1.svg">
        <img class="Footer-BG2" src="images/Footerbg2.svg">
        <img class="Footer-BG3" src="images/Footerbg3.svg">
        <div class="Box1">
            <H3>OmniVus.</H3>
            <small>
                <br>The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community
                conferences, books, and our membership added to the online magazine. <br>
                <br>
                One thing that hasn’t changed is that we’re a small team — with most of us not working
            </small>
        </div>
        <div class="Box2">
            <H3>Working Hours</H3>
            <p>
                Monday - Friday: 7:00 - 17:00 <br>
                Saturday: 7:00 - 12:00 <br>
                Sunday and holidays: 8:00 - 10:00
            </p>
            <small>
                <small class="text">For more then 15 years,</small> IT Service has been a reliable partner in the field of logistics and cargo forwarding.
            </small>
        </div>
        <div class="Box3">
            <small>
                Copyright © Mattin-Lassei Group AB - 2022
            </small>
        </div>
    </div>

</section>