<div class="container-top">
    <div class="box1">
        <div>Promote any product, service or online course.</div>
    </div>
    <div class="box2">
        Get every IT<br> Service Here
        <div class="box3">
            <div class="box3a">
                <img class="symbol" src="images/Symbolred.svg">
                IT Product
            </div>
            <div class="box3b">
                <img class="symbol" src="images/Symbolblue.svg">
                <div>IT Services</div>
            </div>
        </div>
    </div>
    <div class="box4">
        <img class="background" src="images/background1.svg">
    </div>
</div>
    
    