<section id="Contact-Us-Showcase">
    <div class="Showcase">
        <div class="Box1">
            <h1>Contact Us</h1>
        </div>
        <div class="Box2">
            <a asp-controller="Home" asp-action="Index">Home</a>|
            <a asp-controller="Services" asp-action="Index">Services</a>
        </div>
    </div>
</section>