<section id="Services-Showcase">
    <div class="Showcase">
        <div class="Box1">
            <h1>Services</h1>
        </div>
        <div class="Box2">
            <a asp-controller="Home" asp-action="Index">Home</a>|
            <a asp-controller="Contact" asp-action="Index">Contact</a>
        </div>
    </div>
</section>