@@{
    ViewData["Title"] = "Page-404";
}

<section id="Page404">
    <img src="images/404.svg">
    <h2>Looks Like Here<br>Is Nothing</h2>
    <small>Don’t be fret. We are here.</small>
</section>
<partial name="_FooterPartial"/>